.webapp .preview{
    color: #ffffff;
    background-color: #151622;

    padding: 8px;
}

.webapp .preview .heading{
    font-size: 2em;
    font-weight: bold;
}


.webapp .preview.editor *:hover{
    outline: 1px dashed rgba(255, 36, 156);
}

.webapp .preview.editor .selected{
    background-color: rgba(255, 36, 156, .5);
}