.webapp{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.webapp .viewContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.webapp .actions{
    width: 100%;
    height: 120px;
    padding: 4px;
    padding-top: 76px;

    display: flex;
    gap: 8px;
}
.webapp .actions .title{
    margin-right: 128px;
}

.webapp .actions .button{
    width: 32px;
    height: 32px;
    padding: 3px;
}

.webapp .actions .button.play{
    color: #69c979;
}
.webapp .actions .button.stop{
    color: #e0474c;
}

.webapp .explorer{
    color: var(--window-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.webapp .explorer,
.webapp .properties{
    padding: 4px;
}
.webapp .explorer .title,
.webapp .properties .title,
.webapp .actions .title{
    place-self: flex-start;
    color: var(--ab-explorer-title);
    font-size: 16px;
    font-weight: 600;
}
.webapp .explorer .elementPreview{
    cursor: grab;
    user-select: none;
    
    border: 2px solid var(--ab-explorer-item-bg);
    border-radius: 12px;
    width: 160px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.webapp .explorer .elementPreview:active{
    cursor: grabbing;
}
.webapp .explorer .elementPreview .input{
    width: 100px;
}


.webapp .viewport{
    flex: 1;
    background-color: #000000;
    border-radius: 12px;
    
    /* background: linear-gradient(135deg, #272d9b55 25%, transparent 25%) -9px 0/ 18px 18px, linear-gradient(225deg, #272d9b 25%, transparent 25%) -9px 0/ 18px 18px, linear-gradient(315deg, #272d9b55 25%, transparent 25%) 0px 0/ 18px 18px, linear-gradient(45deg, #272d9b 25%, #000000 25%) 0px 0/ 18px 18px; */
    background: linear-gradient(135deg, #272d9b22 25%, transparent 25%) -9px 0/ 18px 18px, linear-gradient(225deg, #272d9b44 25%, transparent 25%) -9px 0/ 18px 18px, linear-gradient(315deg, #272d9b22 25%, transparent 25%) 0px 0/ 18px 18px, linear-gradient(45deg, #272d9b44 25%, #000000 25%) 0px 0/ 18px 18px;
    overflow: auto;
}

.webapp .zoompan{
    transition: .1s;
}
.webapp:active .zoompan{
    transition: 0s;
}

.webapp .preview{
    width: 100%;
    height: 100%;
}

.webapp .properties{
    width: 220px;
}

.overlay.webapp{
    z-index: 10;
}

.overlay.webapp input{
    position: absolute;
    color: #fff;
}