/* <div class="checkbox-wrapper-5">
  <div class="check">
    <input id="check-5" type="checkbox">
    <label for="check-5"></label>
  </div>
</div>

<style> */

/* Remove default styles */

.window .settingsMain .setting.toggle .checkbox{
    width: initial;
    height: initial;
    position: initial;
    -webkit-user-select: initial;
       -moz-user-select: initial;
        -ms-user-select: initial;
            user-select: initial;

    background: initial;
    border-radius: initial;
    padding: initial;
    transition: initial;
    border: initial;
}
.window .settingsMain .setting.toggle .checkbox::after,
.window .settingsMain .setting.toggle .checkbox::before
{
    position: initial;
    display: initial;
    content:initial;
    width: initial;
    height: initial;
}

.window .settingsMain .setting.toggle .checkbox::after{
    left: initial;
    top: initial;
    border-radius: initial;
    background: initial;
    transition: initial;
    box-shadow: initial;
}
.window .settingsMain .setting.toggle:hover .checkbox:after{
    will-change: initial;
}
.window .settingsMain .setting.toggle:active .checkbox:after{
    padding-right: initial;
}
.window .settingsMain .setting.toggle.active:active .checkbox:after{
    margin-left: initial;
}
.window .settingsMain .setting.toggle.active .checkbox::after{
    left: initial;
}
.window .settingsMain .setting.toggle.active .checkbox{
    background-color: initial;
}

.window .settingsMain .setting.toggle:active .checkbox{
    box-shadow: initial;
}
.window .settingsMain .setting.toggle.active:active .checkbox{
    box-shadow: initial;
}


/* Introduce fun */

.window .settingsMain .setting.toggle .checkbox{
    --size: 40px;

    position: relative;
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
    /* transition: .2s; */
}
.window .settingsMain .setting.toggle.active .checkbox{
    background: #f19af3;
    /* background: linear-gradient(90deg, #f19af3, #f099b5); */

}

.window .settingsMain .setting.toggle .checkbox,
.window .settingsMain .setting.toggle .checkbox::after,
.window .settingsMain .setting.toggle .checkbox::before
{
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.window .settingsMain .setting.toggle .checkbox{
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}


.window .settingsMain .setting.toggle .checkbox::after,
.window .settingsMain .setting.toggle .checkbox::before{
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #222;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.window .settingsMain .setting.toggle .checkbox::after{
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}


.window .settingsMain .setting.toggle.active .checkbox::after,
.window .settingsMain .setting.toggle.active .checkbox::before{
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.window .settingsMain .setting.toggle.active .checkbox::after{
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}


.notesList .button{
    transform: rotate3d(0, 1, .1, 1turn);
    transition: .3s;

    animation: rat 10s linear;

    /* animation: rat 10s linear;
    animation-iteration-count: infinite; */
}

.notesList .button:hover{
    transform: rotate3d(0, 1, .1, 0turn);
}
/* .notesList .button::after{
    content: " ";
    background-color: #222;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(-20px);
} */
@keyframes rat {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, .1, 1turn);
    }
}



