.sidepanel, .uploadform .choices, .otherwindow {
    background: rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
}
.tooltip, .optionssidebar{
    background: rgba( 32, 32, 36, 0.4 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
}