*{box-sizing: border-box;font-family: 'Roboto', sans-serif}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:url('img/fonts/roboto-v29-latin-100.eot');src:local(''),url('img/fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-100.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-100.woff') format('woff'),url('img/fonts/roboto-v29-latin-100.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-100.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url('img/fonts/roboto-v29-latin-300.eot');src:local(''),url('img/fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-300.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-300.woff') format('woff'),url('img/fonts/roboto-v29-latin-300.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-300.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url('img/fonts/roboto-v29-latin-regular.eot');src:local(''),url('img/fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-regular.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-regular.woff') format('woff'),url('img/fonts/roboto-v29-latin-regular.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-regular.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url('img/fonts/roboto-v29-latin-500.eot');src:local(''),url('img/fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-500.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-500.woff') format('woff'),url('img/fonts/roboto-v29-latin-500.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-500.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url('img/fonts/roboto-v29-latin-700.eot');src:local(''),url('img/fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-700.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-700.woff') format('woff'),url('img/fonts/roboto-v29-latin-700.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-700.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:url('img/fonts/roboto-v29-latin-900.eot');src:local(''),url('img/fonts/roboto-v29-latin-900.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-900.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-900.woff') format('woff'),url('img/fonts/roboto-v29-latin-900.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-900.svg#Roboto') format('svg')}
  
html,body{height: 100%;}
body{margin: 0; overflow: hidden;} /*fix for iphone scroll*/
#notearea{
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    border: 0;
    border-top: 1px solid #555;
    border-radius: 0;
    cursor: auto;
    resize: none;
    outline: none;
    color: #fff;
    background-color: #222230;
    padding: 8px 4px;
    font-size: 24px;
    width: 100%;
    height: calc(100% - 60px); /* is this the most supported? */
    padding-bottom: 89vh; /*!halp*/
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(img/fonts/Material-Icons-Outlined.woff2) format('woff2');
}

.m-i{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    background-color: initial
}

::-webkit-scrollbar-thumb {
    /* border-radius: 8px; */
    background-color: #444
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b4b4b
}

::-webkit-scrollbar-thumb:active {
    background-color: #5a5a5a
}

::-webkit-scrollbar-corner { background: #1a1a1a; }

::selection{
    background-color: #4b23ff;
    /*background-color: #4b23ffcc; < less vibrant*/
}

.flex{
    display: flex;
}

#modal{
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #000;
    background: #00000066;
    transition: 0.4s;
}

#welcome{
    z-index: 10;
	/* display: none; */
    box-shadow: 0px 0px 24px #000;
    color: white;
    background: #100f11;

    border-radius: 8px;
    padding: 0;

    animation: 0.2s ease-out 0s 1 slideInFromLeft;

    position: absolute;
    height: 626px;
    width: 1026px;
    top: 50%;
    left: 50%;
    margin: -313px 0 0 -513px;
}

#unsigned{
    display: none;
}

.mainWelcomeLogo {
    color: white;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.2s;
    margin: 10px;
}

.mainWelcomeLogo a {
    color: white;
    text-decoration: none;
}

.mainWelcomeLogo a:hover {
    color: #c8c8c8;
}

.mainWelcomeLogo h1 {
    cursor: pointer;
    font-size: 26px;
}

.mainWelcomeLogo:hover {
    color: #c8c8c8;
}


.key{
    float: right;
    margin-top: -300px;
}


.x {
    z-index: 2;
    user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 40%;
    top: 15px;
    padding: 10px;
    right: 15px;
    text-align: center;
    transition: 0.2s;
}

.x:hover {
    background: #55555533;
    border-radius: 50%;
}


.x:active {
    background: #55555555;
    border-radius: 45%;
}


.mainWelcomesidebarUnsigned {
    width: 60%;
    margin: 20px;
    margin-top: 70px;
    font-size: 22px;
    line-height: 30px;
}

.mainWelcomesidebarUnsigned h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
}



.unsignedbtn {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.unsignedbtn svg{
    margin: -10px 4px -10px -7px;
    width: 32px;
    height: 32px;
    fill: none;
    stroke: #a78de4;
    transition: 0.2s;
}

.unsignedbtn button, #welcome button {
    color: #c8c8c8;
    font-weight: 500;
    border: 1px solid #c8c8c8;
    padding: 16px 20px;
    transition: 0.2s;
}

.unsignedbtn button:hover, #welcome button:hover {
    color: black;
    background-color: #c8c8c8;
}

.unsignedbtn .blue, #create .blue {
    margin-left: 12px;
    border: 1px solid #a78de4;
    color: #a78de4;
}

.unsignedbtn .blue:hover, #create .blue {
    color: #000;
    background-color: #a78de4;
}
.unsignedbtn .blue:hover svg{
    stroke: #000;
}

.mainWelcomeBlueUnsignedReg {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    margin-left: 12px;
    cursor: pointer;
    color: #8d96e4;
    padding: 16px 20px;
    transition: 0.2s;
}
.mainWelcomeBlueUnsignedReg:hover {
    text-decoration: underline;
}

.mainWelcomeButtonsUnsigned img {
    margin: -10px;
    margin-right: 5px;
}

#create{
    padding: 20px;
    display: flex;
    display: none;
}
#create span, #open span{
    margin: -10px 0 -10px -10px;
    transform: translateY(5.5px);
}
#create p, #open p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    color: #ccc;
    transition: 0.2s;
}

#create input, #create select, #files input, #settingsbrowser .settings input{
    color: #fff;
    background: none;
    border: 1px solid #222;
    border-radius: 0;
    border-bottom: 1px solid #bbb;
    width: 100%;
    padding: 4px;
    font-size: 24px;
    outline:0;
    margin-bottom: 16px;
    transition: 0.2s;
}

#create select option{
    background: #111;
}

#create select option:checked{
    background: #a78de4;
}

#create input:focus, #files input:focus, #settingsbrowser .settings input:focus{
    border-bottom: 1px solid #a78de4;
}

#create hr{
    border:0;
    border-top:1px solid #bbb
}

#welcome button {
    color: #c8c8c8;
    font-weight: 500;
    border: 1px solid #c8c8c8;
    padding: 16px 20px;
    transition: 0.2s;
    margin-bottom: 6px;
}
#welcome .blue{
    margin: 0 6px 6px 0;
}

#welcome .bottom{
    position: absolute;
    bottom: 10px;
}

#create .name{
    width: 30%;
}

#create .type{
    width: 70%;
    text-align: center;
}

#create .types{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;

    flex-wrap: wrap;
}

#create .types div{
    cursor: pointer;
    width: 140px;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 10px 16px;
    transition: 0.2s;
    margin-bottom: 20px;
}

#create .types div:hover{
    border: 1px solid #a78de4;
}

#create .types div span{
    margin: 0 0 16px 0;
    display: block;
}

#create .types div p{
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
}

#options{
    padding: 20px;
}
#options h1{
    margin: 0;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}
#options .creativity{
    margin-top: 130px;
    width: 160px;
}
#options a{
    user-select: none;
    text-align: right;
    position: relative;
    display: block;
    cursor: pointer;
    color: #eee;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 16px;
    transition: 0.4s;
    margin-bottom: 15px;
}
#options a:hover{
    background: #eee;
    color: #111;
}
#options a span{
    position: absolute;
    font-size: 28px;
    left: 7px;
    top: 12px;
}
#options a:active{
    box-shadow: 0 0 8px #fff;
}

#files {
    width: calc(90% - 160px);
    display: flex;
    justify-content: space-around;
    margin: 5%;

    flex-wrap: wrap;
}

#files div{
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 140px;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 35px 5px 5px 5px;
    transition: 0.2s;
    margin-bottom: 20px;
}

#files div:hover{
    border: 1px solid #a78de4;
}

#files div type{
    user-select: none;
    position: absolute;
    left: 5px;
    top: -2px;
    font-size: 12px;
    color: #ccc;
    font-weight: 600;
}

#files div span{
    transform: translateY(7px);
}

#files div p{
    color: #ddd;
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
}
#files input, #files filters{
    flex-basis: 100%;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
}
#files filters select{
    cursor: pointer;
    color: #bbb;
    background: none;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    outline:0;
    transition: 0.2s;
    transform: translateY(-5px);
}
#files filters select option{
    background: #111;
}
#files filters .o{
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
    float: right;
}
#files filters .op{
    user-select: none;
}
#files .more{
    position: absolute;
    padding: 3px;
    right: 3px;
    top: -3px;
}
.more{
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}
.more:hover {
    background: #55555533;
    border-radius: 50%;
}
.more:active {
    background: #55555555;
    border-radius: 45%;
}

#notepreview{
    display: none;
    z-index: 30;
    position: fixed;
    width: 185px;
    padding: 12px;
    color: #eee;
    background: #111;
    border: 1px solid #333;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(6px);
    box-shadow: 0 0 12px 4px #0b0b0b;
    transition: transform 0.3s, opacity 0.1s;
}
#notepreview.active {
    opacity: 1;
    transform: translateY(0);
}
#notepreview input{
    color: #fff;
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #bbb;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    outline:0;
    margin-bottom: 16px;
    transition: 0.2s;
    font-weight: 500;
}
#notepreview input:focus{
    border-bottom: 1px solid #a78de4;
}
#notepreview hr{
    border:0;
    margin: 16px 0;
    border-top: 1px solid #eee
}
#notepreview a {
    user-select: none;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    transition: 0.2s;
}
#notepreview a span {
    transform: translateY(7px);
    margin: -99% 4px 0 -6px
}
#notepreview a:hover {
    background:#55555555;
}
#notepreview a:active {
    background:#55555599;
}

#open{
    display: none;
    padding: 20px;
}


@media only screen and (max-height: 620px) {
    #welcome {
        box-shadow: 0;

        border-radius: 0;

        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 1035px) {
    #welcome {
        box-shadow: 0;

        border-radius: 0;

        position: absolute;
        height: 90%;
        width: 100%;
        top: 40px;
        left: 0;
        margin: 0;
    }
}




header a, header #navBtn svg, .dropdown v, #profilepanelbtn, #notificationsbtn{
    transition: 0.2s;
}

header {
    user-select: none;
    background-color: #1a1a1a;
    padding: 5px 5px;
    height: 60px;
}

header a, header c{
    cursor: pointer;
    margin-left: 5px;
    float: left;
}
header a{
    cursor: pointer;
    color: #c8c8c8;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #1a1a1a;
    font-weight: 400;
}

header a:hover, #profilepanelbtn:hover, #notificationsbtn:hover{
    stroke: #fff;
    color: #fff;
    fill: #fff;
    background-color: #101010;
}

#profilepanelbtn, #notificationsbtn{
    stroke: #c8c8c8;
    fill: #c8c8c8;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    padding: 6px;
    margin-left: 5px;
}

#profilepanelbtn{
    border-radius: 50%;
}

header #navBtn svg {
    margin-right: 6px;
    margin-left: 2px;
    margin-top: 8px;
    fill: #969696;
}

header #navBtn svg:hover {
    fill: #fff;
}

.dropdown {
    cursor: pointer;
    float: left;
    overflow: hidden;
}

.dropdown hr {
    margin: 4px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.dropdown div {
    visibility: hidden;
    padding: 8px 0;
    /* border-radius: 0 4px 4px 4px; */
    position: absolute;
    margin-top: 50px;
    margin-left: 4px;
    border: solid 1px #ccc;
    background-color: #1a1a1a;
    min-width: 160px;
    box-shadow: 4px 8px 12px 0 #00000033;
    z-index: 2;
    transition: all 0.3s;
    transform: translate(0, -20px) scaleY(0.9);
    max-height: 1%;
    overflow: hidden;
    opacity: 0;
}

.dropdown span{
    float: left;
    padding: 0 6px 0 0;
} 

.dropdown v {
    white-space: nowrap;
    font-size: 18px;
    position: relative;
    float: none;
    padding: 14px 8px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: left;
}

.dropdown v:hover {
    background-color: #ddd;
    color: #000;
    transform: translate(4px, 0);
    width: calc(100% - 4px);
}

tick {
    box-sizing: initial;
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    margin-left: 60%; 
    border-bottom: 4px solid #913fb1;
    border-right: 4px solid #913fb1;
}

#saveasbtn{
    display: none;
}

#pastewoformat{
    display: none;
}

.writingdirectionmenu{
    display: none;
}
.writingdirectionmenu:hover, .writingdirection:hover ~ .writingdirectionmenu{
    display: block;
    opacity: 1;
}

@media screen and (min-width: 600px) { 
    .writingdirectionmenu:hover, .writingdirection:hover ~ .writingdirectionmenu{
        transform: translate(194px, -130px);   
    }
}

#documenttools{
    display: none;
}


.sidepanel {
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    position: fixed;
    z-index: 4;
    height: 100%;
    top: 0;
    left: -1px;
    background: #1a1a1a;
    border-right: solid 1px #fff;
    transition: 0.5s;
    padding-top: 60px;
    background: rgba( 16, 16, 16, 0.6 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
}

.sidepanel::-webkit-scrollbar {
    width: 10px
}

.sidepanel::-webkit-scrollbar-track {
    background: initial;
}

.sidepanel a {
    white-space: nowrap;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #aaaaaa;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    left: 215px;
    font-size: 36px;
}

.sidepanel input {
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #777;
    background: none;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 220px;
    font-size: 25px;
    color: #aaaaaa;
}

.sidepanel input:focus {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.sidepanel p {
    white-space: nowrap;
    position: absolute;
    top: 78px;
    left: 30px;
    color: #a00000;
}

.smallMenuPanelElements{
    display: none;
}

.unsignedAnnotation {
	display: none;
    position: absolute;
    bottom: 160px;
    width: 300px;
    font-size: 12px;
    line-height: 6px;
    text-align: center;
    color: #dbdbdb;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.unsignedAnnotation button {
	cursor: pointer;
    padding: 6px;
	margin: 5px;
    background-color: unset;
    color: white;
    border: 1px solid white;
	margin-bottom: 10px;
	transition: 0.4s;
}
.unsignedAnnotation button:hover {
    color: black;
	background-color: white;
} 

.prograssdiv {
    display: none;
    cursor: pointer;
    font-size: 18px;
    /* position: absolute; maybe find an efficient way to position at bottom */
    margin-top: 60px;

    bottom: 160px;
    text-align: center;
    color: #dbdbdb;
}

.prograssdiv:hover {
    text-decoration: underline;
}

.progress {
    background-color: #101010;
    width: 300px;
}

.progress-bar {
    margin-top: 10px;
    height: 0px;
    transition: width .6s ease;
    border: 3px solid #4a20bd;
    border-image: linear-gradient(to right, #4a20bd, #a320bd) 1;
}

.logo {
    user-select: none;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 18px;
    bottom: 10px;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.2s;
}
.logo h2{
    margin: 0;
    margin-top: 25px;
    font-weight: 300;
}
.logo:hover {
    color: #c8c8c8;
}
.logo:active {
    color: #888;
}

@media only screen and (max-width: 360px){
    @media only screen and (max-height: 400px) {
        .logo{position:relative; margin-top: 60px;}
    }
}
@media only screen and (max-height: 800px) {
    .logo{position:relative; margin-top: 60px;}
}

#weather {
    display: none;
    cursor: default;
    padding: 10px;
    position: relative;
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
    line-height: 6px;
    text-align: center;
    color: #dbdbdb;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#weather timed{
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
}

#weather:hover #weathertimed {
    opacity: 1;
}

#weathertimed{
    opacity: 0;
    transition: 0.4s;
}

#weather a{
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}
#weather h3{
    font-weight: 500;
}








#wordCountdiv {
    display: none;
    z-index: 5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;

    background: #1a1a1a; /*181818*/
    border-top: 1px solid #4a20bd;
    color: white;
    transition: all 0.4s;
}
#wordCountdiv .x {
    padding: 10px;
    margin: -5px 2px;
	cursor: pointer;
	position: relative;
    top: 0;
    right: 0;
    float: right;
    font-size: initial
}
#wordCountdiv a{
    display: inline-block;
    padding: 1px;
}

#siteexplorer{
    width: 200px;
    height: 100%;
    background: #1a1a1a;
    border-right: 1px solid #555;
    padding: 12px;
}
#siteexplorer input, #calculatormain textarea{
    color: #bbb;
    background: none;
    border: 1px solid #555;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    font-size: 16px;
    outline:0;
    margin-bottom: 16px;
    transition: 0.2s;
}
#siteexplorer input:focus, #calculatormain textarea:focus{
    border-bottom: 1px solid #a78de4;
}
#siteexplorer a{
    user-select: none;
    cursor: grab;
    display: block;
    color: #eee;
    margin-left: 4px;
    margin-bottom: 6px;
    transition: 0.2s;
    font-size: 20px;
}
#siteexplorer a span{
    transform: translate(-4px, 3px);
}
#siteexplorer a:hover{
    transform: scale(1.2) translateX(8%);
}

#sitepreview{
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    background: #000;
    width: 50%;
    max-width: 71%;
    min-width: 1%;
    height: 100%;
    overflow-y: scroll;
    resize: horizontal;
}

#sitedetails{
    border-left: 1px solid #555;
    background: #1a1a1a;
    height: 100%;
    width: 20%;
    outline: 0;
}
#sitecode{
    border: 0;
    background: #111115;
    resize: vertical;
    min-height: 10%;
    height: 50%;
    max-height: 90%;
    width: 100%;
    overflow-y: scroll;
    outline: 0;
    color: #bbb;
    font-size: 16px;
}
#siteproperties{
    min-height: 10%;
    height: 50%;
    max-height: 90%;
    width: 100%;
    overflow-y: scroll;
}



#calculatormain textarea{
    padding: 12px;
    font-size: 20px;
    min-height: 50px;
    max-height: 500px;
    transition: border 0.2s;
    resize: vertical;
}

.resizablerow{
    padding: 12px;
    float: left;
    width: 70%;
    height: 100%;
    resize: horizontal;
    overflow-y: hidden;
}

#calculatorquick, #calculatorfinal{
    display: none;
    color: #000;
    border-radius: 4px;
    background: #a78de4;
    padding: 4px 12px 12px 12px;
    transition: 0.2s;
}

#calculatorquick p, #calculatorfinal p{
    user-select: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #222;
    margin: 0;
}

#calculatorfinal{
    margin-top: 20px;
}

#calculatestory div{
    padding: 12px;
    font-size: 20px;
    border: 1px solid #a78de4;
    border-radius: 4px;
    margin-bottom: 10px;
}
#calculatestory re{
    user-select: none;
    color: #000;
    background: #a78de4;
    padding: 12px;
    margin: -12px;
    float: right;
    font-weight: 500;
}

.calculator {
    position: relative;
    border: 1px solid #555;
    border-radius: 4px;
}
.calculator button{
    border: 1px solid #333;
    border-radius: 4px;
    width: 29.45%;
    height: 3vw;
    min-height: 30px;
    margin: 4px;
    transition: 0.2s;
}
.calculator button:hover{
    border: 1px solid #555;
}
.calculator button:active{
    background: #555;
    color: #000;
}

.calculatornumbers{
    width: 70%;
}
.calculatornumbersright{
    position: absolute;
    right: 8px;
    top: 0;
    width: 25%;
}
.calculatornumbersright button{
    width: 100%;
}

@media only screen and (max-width: 1000px) {

}



#todos{
    width: 100%;
}
#todoaddspace textarea{
    background: #111;
    border: 1px solid #555;
    border-radius: 4px;
    width: 100%;
    min-height: 35px;
    height: 150px;
    max-height: 500px;
    resize: vertical;
    outline: 0;
    font-size: 24px;
    padding: 12px;
    color: #eee;
    transition: border 0.2s;
}

#todoaddspace textarea:focus{
    border: 1px solid #a78de4;
}

#todos div{
    position: relative;
    white-space: pre-wrap;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    margin: 10px 0;
}
#todos div co{
    margin-left: 50px;
    outline: 0;
    transition: 0.4s;
}
#todos div co:focus{
    border: 1px solid #a78de4;

}

#todos div span{
    user-select: none;
    font-size: 29px;
    padding: 3px;
    margin: -3px;
    float: right;
}

todotick{
    margin: 6px;
    box-sizing: initial;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    border-bottom: 4px solid #a78de4;
    border-right: 4px solid #a78de4;
}





#profilepanel, #notifications{
    visibility: hidden;
    z-index: 10;
    position: fixed;
    top: 60px;
    right: 0;
    min-width: 185px;
    padding: 12px;
    color: #eee;
    background: #1a1a1a;
    border: 1px solid #333;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    transform: translateY(-6px);
    box-shadow: 0 5px 4px #0b0b0b;
    transition: transform 0.3s, opacity 0.2s;
}

#notifications{
    min-width: 225px;
    right: 55px;
}

#profilepanel hr, #notifications hr{
    border:0;
    margin: 16px 0;
    border-top: 1px solid #666
}
#profilepanel a, #notifications a {
    user-select: none;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 18px;
    color: #eee;
    transition: 0.2s;
}
#profilepanel a span, #notifications a span {
    transform: translateY(7px);
    margin: -99% 4px 0 -6px
}
#profilepanel a:hover, #notifications a:hover {
    background:#55555555;
}
#profilepanel a:active, #notifications a:active {
    background:#55555599;
}

#notifications h1{
    margin: 0;
    font-size: 20px
}

#notifications div{
    border: 1px solid #252525;
    background: #252525;
    margin: 12px 0;
    padding: 8px;
    border-radius: 4px;
}
#notifications ti{
    display: block;
    font-weight: 600;
}

#notifications co{
    display: inline-block;
    padding: 7px 2px;
}

@media screen and (max-width: 495px){
    #notifications{
        width: 90%;
        left: 5%;
    }
}


#settingsbrowser{
    position: absolute;
    height: 80%;
    min-height: 530px;
    width: 70%;
    min-width: 820px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%)scale(0.95);

    z-index: 10;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    color: #fff;
    background: #100f11;
    border-radius: 8px;
    transition: transform 0.3s, opacity 0.1s;
}
@media screen and (max-width: 820px) {
    #settingsbrowser{
        border-radius: 0;
        width: 100%;
        min-width: initial;
    }
}
@media screen and (max-height: 530px) {
    #settingsbrowser{
        border-radius: 0;
        height: 100%;
        min-height: initial;
    }
}
#settingsbrowser *::-webkit-scrollbar-thumb {
    border-radius: 8px;
}
#settingsbrowser .x {
    top: 20px;
    right: 4px;
}
#settingsbrowser .account{
    padding: 8px;
    background: #222;
}
#settingsbrowser .account *{
    display: inline;
    vertical-align: middle;
}
#settingsbrowser .account img{
    border-radius: 50%;
    height: 64px;
    width: 64px;
}
#settingsbrowser .account user{
    font-size: 16px;
    margin-left: 15px
}

#settingsbrowser .settings{
    float: left;
    width: 30%;
    height: 100%;
    overflow: auto;
}
#settingsbrowser .settings a, #settingsbrowser .settings input, #settingsbrowser .account{
    user-select: none;
    display: block;
    margin: 30px 10%;
    width: 80%;
    border-radius: 8px;
    font-size: 20px;
}
#settingsbrowser .settings a, #settingsbrowser .settings input{
    padding: 12px 6px;
    margin: 30px 10%;
}
#settingsbrowser .settings a{
    cursor: pointer;
    margin: 8px 10%;
    transition: 0.2s;
}

#settingsbrowser .settings a:hover{
    background: #55555533;
}

#settingsbrowser .settings a:active{
    background: #55555555;
}

#selectedsettings{
    float: right;
    padding: 30px;
    padding-left: 0;
    width: 70%;
    height: 100%;
    transform: translateY(100px);
    transition: 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
}

#settingsbrowser span{
    float: left;
    margin-right: 6px;
}

#selectedsettings h1{
    user-select: none;
    margin: 0;
    font-weight: 400;
}

#selectedsettings .profile{
    width: 100%;
    height: auto;
    background: #222;
    border-radius: 8px;
    text-align: center
}

#selectedsettings .banner{
    height: 250px;
    background: url("skyeyes.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 8px 8px 0 0;
    margin-top: 20px;
}
#selectedsettings .avatar{
    display: inline-block;
    height: 128px;
    width: 128px;
    background: url("IMG_2363.jpg");
    background-size: cover;
    border-radius: 50%;
    transform: translateY(-64px);
}
#selectedsettings .profile h2{
    user-select: none;
    margin: -72px;
    margin-bottom: 0;
    padding: 16px;
}

#selectedsettings .optionsubsection{
    display: block;
    user-select: none;
    cursor: pointer;
    background: #252525;
    width: 45%;
    height: 100px;
    float: left; /*how the fuck did float left fix my inline-block issue????*/
    margin: 0 2.5%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #252525;
    transition: 0.2s;
}

@media screen and (max-width: 1310px) {
    #selectedsettings .optionsubsection{
        width: 100%;
        height: 100px;
        margin: 30px 0;
        float: none;
    }
}

#selectedsettings .optionsubsection ti{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
}
#selectedsettings .optionsubsection co{
    color: #ddd
}

#selectedsettings .optionsubsection:hover{
    border: 1px solid #555;
}
#selectedsettings .optionsubsection:active{
    border: 1px solid #555;
    background: #555;
}

#selectedsettings h1 a{
    cursor: pointer;
}
#selectedsettings h1 a:hover{
    color: #ddd
}


























































































.mdblock {
	width: 90%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }
  .mdlefthalf {
	width: 50%; float: left
  }
  .mdcenter {
	text-align: center;
  }
  .mdrelative {
	position: relative;
  }
  @media (min-width: 576px) {
	.mdblock {
		max-width: 540px;
	}
  }
  
  @media (min-width: 768px) {
	.mdblock {
		max-width: 720px;
	}
  }
  
  @media (min-width: 992px) {
	.mdblock {
		max-width: 960px;
	}
  }
  
  @media (min-width: 1200px) {
	.mdblock {
		max-width: 1140px;
	}
  }
  @media (min-width: 1400px) {
	.mdblock {
		max-width: 1340px;
	}
  }