*{outline:0;margin:0;box-sizing: border-box;font-family: 'Roboto', sans-serif}

@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:url('../img/fonts/roboto-v29-latin-100.eot');src:local(''),url('../img/fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'),url('../img/fonts/roboto-v29-latin-100.woff2') format('woff2'),url('../img/fonts/roboto-v29-latin-100.woff') format('woff'),url('../img/fonts/roboto-v29-latin-100.ttf') format('truetype'),url('../img/fonts/roboto-v29-latin-100.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url('../img/fonts/roboto-v29-latin-300.eot');src:local(''),url('../img/fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'),url('../img/fonts/roboto-v29-latin-300.woff2') format('woff2'),url('../img/fonts/roboto-v29-latin-300.woff') format('woff'),url('../img/fonts/roboto-v29-latin-300.ttf') format('truetype'),url('../img/fonts/roboto-v29-latin-300.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url('../img/fonts/roboto-v29-latin-regular.eot');src:local(''),url('../img/fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),url('../img/fonts/roboto-v29-latin-regular.woff2') format('woff2'),url('../img/fonts/roboto-v29-latin-regular.woff') format('woff'),url('../img/fonts/roboto-v29-latin-regular.ttf') format('truetype'),url('../img/fonts/roboto-v29-latin-regular.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url('../img/fonts/roboto-v29-latin-500.eot');src:local(''),url('../img/fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),url('../img/fonts/roboto-v29-latin-500.woff2') format('woff2'),url('../img/fonts/roboto-v29-latin-500.woff') format('woff'),url('../img/fonts/roboto-v29-latin-500.ttf') format('truetype'),url('../img/fonts/roboto-v29-latin-500.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url('../img/fonts/roboto-v29-latin-700.eot');src:local(''),url('../img/fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),url('../img/fonts/roboto-v29-latin-700.woff2') format('woff2'),url('../img/fonts/roboto-v29-latin-700.woff') format('woff'),url('../img/fonts/roboto-v29-latin-700.ttf') format('truetype'),url('../img/fonts/roboto-v29-latin-700.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:url('../img/fonts/roboto-v29-latin-900.eot');src:local(''),url('../img/fonts/roboto-v29-latin-900.eot?#iefix') format('embedded-opentype'),url('../img/fonts/roboto-v29-latin-900.woff2') format('woff2'),url('../img/fonts/roboto-v29-latin-900.woff') format('woff'),url('../img/fonts/roboto-v29-latin-900.ttf') format('truetype'),url('../img/fonts/roboto-v29-latin-900.svg#Roboto') format('svg')}

html,body,app{display:block;height: 100%;overflow: hidden;}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

input{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../img/fonts/Material-Icons-Outlined.woff2) format('woff2');
}

.m-i{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    background-color: initial
}

::-webkit-scrollbar-thumb {
    /* border-radius: 8px; */
    background-color: #444
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b4b4b
}

::-webkit-scrollbar-thumb:active {
    background-color: #5a5a5a
}

::-webkit-scrollbar-corner { background: #1a1a1a; }

::selection{
    background-color: #4b23ff
    /*background-color: #4b23ffcc; < less vibrant*/
}

x, .x {
    z-index: 2;
    user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 40%;
    top: 15px;
    padding: 10px;
    right: 15px;
    text-align: center;
    transition: 0.2s;
}

x:hover, .x:hover {
    background: #55555533;
    border-radius: 50%;
}

x:focus-visible, .x:focus-visible {
    outline: 1px solid #bbb;
    border-radius: 50%;
}

x:active, .x:active {
    background: #55555555;
    border-radius: 45%;
}

tick {
    box-sizing: initial;
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    margin-left: 60%; 
    border-bottom: 4px solid #913fb1;
    border-right: 4px solid #913fb1;
}

modal{
    opacity: 0;
    position: fixed;
    z-index: 29;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #00000044;
    transition: 0.3s, visibility 0s;
}


.contextmenu.transition{
    transform: translateY(-5px);
    opacity: 0;
}
.contextmenu{
    position: absolute;
    /* width: 150px; */
    z-index: 50;
    color: #eee;
    background: #222;
    box-shadow: 1px 1px 3px #111;
    border-radius: 12px;
    border: 1px solid #444;
    padding: 12px;
    transition: .2s;
}
.contextmenu input{
    padding: 6px 0 0 0;
    width: 100%;
    padding: 6px;
    background: #111;
    border-radius: 4px;
    border-bottom: 1px solid #444;
    transition: .1s;
}
.contextmenu input:hover{
    background: #151515;
    border-bottom: 1px solid #555;
}
.contextmenu input:focus{
    border-bottom: 1px solid #999;
}
.contextmenu de{
    display: block;
    margin: 9px 0;
    color: #999;
    font-size: 14px;
}
.contextmenu p, .contextmenu pr{
    white-space: nowrap;
    display: block;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 8px;
    transition: .2s;
}
.contextmenu p i, .contextmenu pr i{
    font-size: 20px;
    float: left;
    padding-right: 6px;
    margin-top: -1px;
}
.contextmenu p:hover, .contextmenu p:focus-visible{
    background: #444;
}
.contextmenu p:active{
    color: #111;
    background: #eee;
}
.contextmenu pr{
    cursor: initial;
    user-select: text;
}
.contextmenu pr i{
    pointer-events: none;
    user-select: none;
}