
find{
    visibility: hidden;
    opacity: 0;
    
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    transition: transform 0.4s, opacity 0.2s, visibility 0.5s;
}
find *{
    transition: 0.15s;
}
find input{
    border: 1px solid #555;
    border-radius: 4px;
    color: #fff;
    background: #222;
    font-size: 20px;
    padding: 6px 10px;
    font-weight: 300;
    outline: 0;
    min-width: 350px;
    padding-right: 40px;
}
@media screen and (max-width: 400px) {
    headerspace{
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        transform: initial!important;
    }
    find{
        width: 90%;
    }
    find input{
        width: 100%;
        min-width: initial;
    }
}
find input:focus{
    border: 1px solid #ddd;
}
find .f{
    padding: 6px;
    color: #ddd;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}
find .r{
    right: 40px;
}

findpanel{
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 55px;

    display: block;
    width: 110%;
    margin: -5%;

    background-color: #1c1c1c;
    border: 1px solid #333;
    border-radius: 8px;

    transition: top 0.4s, opacity 0.2s, visibility 0.5s;
}

findpanel occ{
    display: inline-block;
    color: #999;
    margin: 14px
}

findpanel replace{
    display: block;
    height: 0px;
    width: 100%;
    overflow: hidden;
}

findpanel replace input{
    width: calc(100% - 100px);
    margin: 5px 8px;
    min-width: initial;
}

find .advbtn{
    cursor: pointer;
    float: right;
    margin: 8px 8px 8px 0;
    padding: 4px;
    color: #ddd;
    background: #333;
    border-radius: 4px;
}
find .advbtn:hover, find .advbtn:focus-visible{
    box-shadow: -2px 2px 0 #cccccc44;
    transform: translate(3px, -3px);
}
find .advbtn:active{
    transform: initial;
    box-shadow: initial;
    transition: 0.1s;
}