.mdui button{
    border-radius: 8px;
    padding: 12px 20px;
    background: #222;
    color: #eee;
    transition: .1s;
}
.mdui button:hover{
    background: #333;
}
.mdui button:active{
    background: #eee;
    color: #222;
}
.highlighter{
    pointer-events: none;
    position: absolute;
    border: 2px solid #00000000;
    transition: .3s;
}
.highlighter.active{
    background: #65baff33;
    border: 2px solid #65baff99;
    box-shadow: 0 0 150px 50px #000000ee;
}