notearea{
    position: fixed;
    top: 60px;
    overflow: auto;
    overflow-y: scroll;
    border: 0;
    border-radius: 0;
    cursor: auto;
    resize: none;
    outline: none;
    color: #fff;
    background-color: #222242;
    padding: 8px 4px;
    font-size: 24px;
    width: 100%;
    height: calc(100% - 60px);
    padding-bottom: calc(100vh - 95px);
    transition: 0.2s;
}
notearea i:hover{/*experiment*/
    background-color: #65baff22;
}
notearea b:hover{
    background-color: #65baff22;
}
/* notearea p:last-child{   //Tried something like this. But it's weird..
    padding-bottom: 100%;
} */
notearea fmark{
    background-color: #df85ffcc;
}
notearea fmark::selection{
    background-color: #65baffcc;
}
notearea::-webkit-scrollbar-corner { background: #222242 }
notearea p{
    margin: 0;
}
notearea img{
    border-radius: 4px;
}
/* notearea img::before {
  content: "Name: "; maybe add support for alt attribute! 
} */
notearea a{
    color: #65baff
}
notearea w{
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    margin: -2px
}
notearea cal{
    color: #000;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 4px;
}
notearea cal::before{
    content: "<de>Date</de>";
}
.wordwrap *{
    white-space: nowrap
}
.notearealeft{
    top:0!important;left:60px;width:calc(100% - 60px)!important;height:100%!important
}
.notearearight{
    top:0!important;left:0;width:calc(100% - 60px)!important;height:100%!important
}
.noteareabottom{
    top:0!important;left:0;width:100%!important;height:calc(100% - 60px)!important
}

dropeffect{
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #22222288;
}
.dropeffectvisible{
    visibility: visible;
}