.readease p{
    background: linear-gradient(90deg, rgba(195,58,204,1) 0%, rgba(195,195,255,1) 50%, rgba(0,212,255,1) 100%);
}
.readease p:nth-child(2n){
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgb(136, 136, 252) 50%, rgba(195,58,204,1) 100%);
}
.readease p:nth-child(3n){
    background: linear-gradient(90deg, rgba(204,148,58,1) 0%, rgba(217,237,186,1) 50%, rgba(81,210,37,1) 100%);
}
.readease p:nth-child(4n){
    background: linear-gradient(90deg, rgba(81,210,37,1) 0%, rgba(217,237,186,1) 50%, rgba(204,148,58,1) 100%);
}
.readease p:nth-child(1n), .readease p:nth-child(2n){
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.readease p::selection {
    background-color: #ffffff55!important;
}

flashwords{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: calc(100% - 60px);
}
flashwords word{
    text-align: center;
    width: 100%;
    display: block;
    background: #22222c;
    padding: 24px;
    font-size: 32px;
    border-radius: 12px;
    margin: 30px 15px;
}
flashwords speed{
    display: block;
    margin: 15px;
    width: 100%;
}
flashwords input{
    margin-top: 8px;
    background: #222;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #222;
    transition: .2s;
}
flashwords input:hover{
    border: 1px solid #333;
}
flashwords input:focus{
    border: 1px solid #555;
}
flashwords button{
    margin: 15px;
    width: 100%;
    background: #272135;
    padding: 12px;
    border-radius: 12px;
    transition: .1s;
}
flashwords button.disabled{
    pointer-events: none;
    cursor: initial;
    background: #292929;
}
flashwords button:not(.disabled):hover{
    background: #48396b;
}
flashwords button:not(.disabled):active{
    background: #ad8df8;
    color: #111;
}