.welcome{
    opacity: 0;
    position: absolute;
    z-index: 30;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .4s, opacity .5s;

    height: 80%;
    width: 70%;
    min-width: 1100px;

    user-select: none;
    color: #fff;
    box-shadow: 1px 2px 3px #111;
    background: #100f11;
    padding: 24px 36px;
    border-radius: 12px;
    overflow: hidden;
}
.welcome::-webkit-scrollbar-thumb, content::-webkit-scrollbar-thumb{
    border-radius: 8px;
}
@media screen and (max-width: 1100px){
    .welcome{
        width: 100%;
        min-width: initial;
    }
}
.welcometransitioned{
    opacity: 1;
    top: 50%;
}
.welcometransitionout{
    opacity: 0;
    top: 52%;
}
.firstTimeSetup{
    z-index: 9;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #100f11;
    padding: 24px;
    transition: .3s;
}
.firstTimeSetup .mdblock{
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: calc(100% - 48px);
    transition: .3s;
}
.firstTimeSetup .transitionLeft{
    transform: translateX(calc(-50% + -64px));
    opacity: 0;
}
.firstTimeSetup .transitionRight{
    transform: translateX(calc(-50% + 64px));
    opacity: 0;
}
.firstTimeSetup h1{
    font-size: 2.5em;
    font-weight: 400;
    padding-top: 60px;
    padding-bottom: 30px;
}
.firstTimeSetup h2{
    font-size: 1.75em;
    color: #ddd;
    font-weight: 400;
}
.firstTimeSetup b{
    background: linear-gradient(80deg, #9b0dff 0%, #bf0bff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.firstTimeSetup b::selection{
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}
.firstTimeSetup ub{
    background: initial;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}
.firstTimeSetup b.nw{
    display: block;
}
.firstTimeSetup p{
    font-size: 2em;
    font-weight: 300;
}
.firstTimeSetup btns{
    position: absolute;
    right: 0;
    bottom: 18px;
}
.firstTimeSetup btn{
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;
    transition: .1s;
    margin-left: 12px;
    white-space: nowrap;
    
    color: #ce46ff;
    border: 1px solid #ce46ff;
}
.firstTimeSetup btn:first-child{
    margin-left: initial;
}
.firstTimeSetup btn:hover, .firstTimeSetup btn:focus-visible{
    border: 1px solid #df85ff;
    color: #df85ff;
}
.firstTimeSetup btn:active:not(.skip){
    color: #111;
    border: 1px solid #df85ff;
    background: #df85ff;
}
.firstTimeSetup btn.skip{
    padding: initial;
    border: initial;
    color: #999;
    margin-right: 12px;
}
.firstTimeSetup btn.skip:hover{
    text-decoration: underline;
}
.firstTimeSetup .compare{
    display: flex;
    width: 100%;
    height: calc(100% - 48px);
}
.firstTimeSetup .compare div{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    /* border-right: 1px solid #555; */
    background: #0a0a0a;
    margin: 5px;
    border-radius: 12px;
}
.firstTimeSetup .compare div h2{
    display: block;
    color: #df85ff;
    text-align: center;
    padding: 10px 0;
}
.firstTimeSetup .compare div fe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1.25em;
    padding: 0 10px;
}
.firstTimeSetup .compare btn{
    margin: 12px;
    text-align: center;
}

.firstTimeSetup .err{
    font-size: 16px;
    border: 2px solid #ff8383;
    background: #ff838333;
    border-radius: 12px;
    padding: 12px;
    margin-top: 7px;
    margin-bottom: -40px;
}

@media screen and (max-width: 580px){
    .firstTimeSetup btns{
        width: 100%;
    }
    .firstTimeSetup btn{
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .firstTimeSetup .compare{
        flex-direction: column;
    }
}
@media(max-width: 480px){
    .firstTimeSetup h1{
        font-size: 2em;
    }
    .firstTimeSetup p{
        font-size: 1.5em;
        font-weight: 300;
    }
    .firstTimeSetup b.nw{
        display: inline-block;
    }
}
@media(max-height: 520px) {
    .firstTimeSetup btns{
        bottom: 0;
        margin-top: 24px;
        display: block;
        position: relative;
    }
}
.firstTimeSetup form{
    max-width: 500px;
    height: 100%;
    position: relative;
}
.firstTimeSetup form img{
    width: 128px;
    vertical-align: middle;
    image-rendering: pixelated;
}
.firstTimeSetup form c{
    vertical-align: middle;
    font-weight: 300;
}
.firstTimeSetup form h1:first-child{
    margin-left: -60px;
}
.firstTimeSetup form h1{
    text-align: center;
    padding: 0;
}
.firstTimeSetup form label{
    display: block;
}
.firstTimeSetup form f{
    display: block;
    padding: 12px 0 4px 0;
    font-size: 20px;
    color: #bbb;
}
.firstTimeSetup form input{
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
    /* box-shadow: inset -2px -2px 0px #000; */
    border: 1px solid #555;
    background: #222;
    transition: .2s;
}
.firstTimeSetup form input:hover{
    border: 1px solid #999;
}
.firstTimeSetup form input:focus{
    border: 1px solid #df85ff
}
.firstTimeSetup form btn{
    position: absolute;
    bottom: 0;
    width: 100%;
}
content{
    height: 100%;
    position: relative;
    display: block;
    transition: transform .3s, opacity .3s;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 6px;
    white-space: nowrap;
}

.contentfull{
    display: flex;
    flex-direction: column;
    padding-right: initial;
    white-space: initial;
}
.contentfull search i{
    top: 21px;
}
.contentfull infofileside{
    display: flex;
    height: 100%;
    gap: 16px;
}

.onlineloaderspiny{
    animation: Rotate 8s infinite;
}
.onlineloader{
    margin: auto;
    margin-top: 15%;
    animation: rotateScale 2s infinite;
    height: 50px;
    width: 50px;
}
.onlineloader:before,
.onlineloader:after{
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}
.onlineloader:before{
    animation: ball1 2s infinite;
    background-color: #b876ff;
    box-shadow: 30px 0 0 #65baff;
    margin-bottom: 10px;
}
.onlineloader:after{
    animation: ball2 2s infinite;
    background-color: #ebfc5c;
    box-shadow: 30px 0 0 #ff8383;
}

@keyframes Rotate{
    0%{ 
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100%{ 
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@keyframes rotateScale{
    0%{ 
        -webkit-transform: rotate(0deg)scale(0.8);
        -moz-transform: rotate(0deg)scale(0.8);
    }
    50%{ 
        -webkit-transform: rotate(360deg)scale(1.2);
        -moz-transform: rotate(360deg)scale(1.2);
    }
    100%{ 
        -webkit-transform: rotate(720deg)scale(0.8);
        -moz-transform: rotate(720deg)scale(0.8);
    }
}
@keyframes ball1{
    0%{
        box-shadow: 30px 0 0 #65baff;
    }
    50%{
        box-shadow: 0 0 0 #65baff;
        margin-bottom: 0;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }
    100%{
        box-shadow: 30px 0 0 #65baff;
        margin-bottom: 10px;
    }
}
@keyframes ball2{
    0%{
        box-shadow: 30px 0 0 #ff8383;
    }
    50%{
        background-color: #b876ff;
        box-shadow: 0 0 0 #ff8383;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100%{
        box-shadow: 30px 0 0 #ff8383;
        margin-top: 0;
    }
}
content x{
    top:0;
    right:0
}
content h1{
    font-size: 32px;
    font-weight: 300;
    padding: 8px;
    text-align: center;
    min-width: 200px;
}
.contentfull h1{
    min-width: initial;
}
.contentfull h1 br{
    display: none;
}

content .error{
    font-size: 24px;
    margin: 20px;
}

content err, content b{
    user-select: text;
    display: block;
    margin: 16px 0 2px 0
}

content .error button{
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    transition: .2s;
}
content .error button:hover, content .error button:focus-visible{
    border: 1px solid #eee;
    box-shadow: 1px 2px 3px #55555555;
}
content .error button:active{
    background: #eee;
    color: #000;
}

content search{
    position: relative;
}
content search i{
    color: #999;
    position: absolute;
    top: -5px;
    left: 10px
}
content search input{
    color: #fff;
    background: #22222288;
    border: 0;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    padding-left: 36px;
    margin: 10px 0;
    font-size: 24px;
    outline:0;
    margin-bottom: 16px;
    transition: 0.2s;
}
.contentfull search input{
    background: #222;
}

content info{
    transition: .3s;
}
.contentfull info{
    /* background: red; */
    display: block;
    width: 200px;
    /* max-height: 100%; i can't... or can I?
    overflow-y: auto; */
}
.widget{
    position: relative;
    display: block;
    background: #22222255;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    text-align: center;
    min-width: 200px;
}
.contentfull .widget{
    background: #222;
}
content info create .m-i{
    font-size: 20px;
    float: left;
}
content weather{
    text-align: left!important;
}
content weather img{
    display: block;
    position: relative;
    width: calc(100% + 24px);
    margin: -12px;
    margin-bottom: 0px;
    height: 80px;
    object-fit: cover;

    border-radius: 8px 8px 0 0;
    mask-image: linear-gradient(#000 5%, transparent 90%);
    mask-mode: alpha;
    -webkit-mask-image: linear-gradient(#000 79%, transparent 100%);
}
content weather w{
    color: #87ceeb;
    font-size: 20px;
}
content weather p{
    color: #e1e7f1;
}
content weather:hover timed{
    opacity: 1;
}
content weather timed{
    position: absolute;
    top: 9px;
    font-size: 14px;
    opacity: 0;
    transition: .4s;
}
content account a, content info create a{
    user-select: none;
    cursor: pointer;
    display: block;
    padding: 6px;
    margin: 6px;
    margin-bottom: 0;
    border-radius: 8px;
    background: #111;
    outline: 0;
    border: 1px solid #111;
    transition: 0.2s;
}
content info create a{
    padding: 12px 6px;
}
content account a:hover, content account a:focus-visible, content info create a:hover, content info create a:focus-visible{
    border: 1px solid #999;
}
content account a:active, content info create a:active{
    color: #111;
    background: #999;
}
content account img{
    /* idk why */
    image-rendering: pixelated;
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
filesside{
    white-space: normal;
    display: none;
    transition: .15s;
}
filters{
    z-index: 4;
    position: relative;
}
.contentfull filesside{
    /* background-color: rgb(164, 97, 97); */
    display: block;
    float: right;
    width: 100%;
    height: 100%;
    /* max-width: calc(100% - 200px); */
}

@media screen and (max-width: 850px) {
    .contentfull infofileside{
        flex-direction: column;
    }
    .contentfull info{
        width: 100%;
        position: relative;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
    }
    .contentfull filesside{
        float: left;
        width: 100%;
        max-width: initial;
        padding: 8px;
    }
    .contentfull space{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentfull .widget{
        position: relative;
        width: calc(50% - 6px);
        margin: 0;
        margin-right: 12px;
    }
    .contentfull .widget:last-child{
        margin-right: initial;
    }
}

content files{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    padding: 1px; /*This fixes outline shit but idk if it breaks other shit*/
    transition: .2s;
}
/* cool effect! */
content files:hover > content files button::after {
  opacity: 1;
}
content files button:hover::after{
  background: rgba(255, 255, 255, 0.5);
}

content files button{
    background: rgba(255, 255, 255, 0.1);
}

content files button:hover::before {
  opacity: 1;
}

content files button::before,
content files button::after {
  border-radius: inherit;
  pointer-events: none;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

content files button::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.12),
    transparent 40%
  );
  z-index: 3;
}

content files button::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}
/* end of cool effect*/

content .filestransitionforward{
    opacity: 0.3;
    transform: translateX(20px);
    transition: 0s;
}
content .filestransitionbackward{
    opacity: 0.3;
    transform: translateX(-20px);
    transition: 0s;
}

content .lineview button{
    width: 100%;
    margin-right: initial;
}

content files button{
    float: left;
    position: relative;
    /* background: #252525; */
    border-radius: 8px;
    padding: 24px;
    width: 150px;
    height: 95px;
    transition: .2s;
}
/* content files button:not(.folder, .currentfolder):hover, content files button:not(.folder, .currentfolder):focus-visible{
    background: #555;
} */
content files button:not(.folder, .currentfolder):active{
    outline: 1px solid #a78de4;
}
content files button:last-child{
    margin-right: initial;
}
content files button ti{
    display: block;
}
content files button co{
    text-align: left;
    color: #bbb;
    display: block;
    font-size: 12px;
}
content files button .more{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 3px;
    color: #bbb;
    border-radius: 99px;
    transition: .3s;
}
content files button .more:hover, content files button .more:focus{
    color: #fff;
}

content files button ic, content files button si, content files button ty{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #999;
    transition: .1s;
}
content files button ic t{
    position: absolute;
    top: 4px;
    margin-left: 4px;
    opacity: 0;
    transition: .1s;
}
content files button:not(.folder, .currentfolder):hover ic, content files button:not(.folder, .currentfolder):focus-visible ic{
    color: #eee;
}
content files button:not(.folder, .currentfolder):hover ic t, content files button:not(.folder, .currentfolder):focus-visible ic t{
    opacity: 1;
}
content files button si{
    top: initial;
    left: initial;
    bottom: 5px;
    right: 5px;
}
content files button ty{
    top: initial;
    bottom: 0;
}
content files .currentfolder{
    width: 100%;
    user-select: text;
    cursor: initial;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0 2px 2px #bbbbbb55;
}
content files .folder{
    background: #111;
    border: 1px solid #555;
    /* margin-top: 25px; */
    padding-left: 37px;
}
content files .folder:hover, content files .folder:focus-visible{
    border: 1px solid #bbb;
}
content files .folder:active{
    color: #111;
    background: #bbb;
}
content files .folder i{
    position: absolute;
    left: 12px;
    /* top: 22px; */
    top: 50%;
    transform: translateY(-50%);
}
/* 
input, filters{
    flex-basis: 100%;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
} what's this */
/* filters select{
    cursor: pointer;
    color: #bbb;
    background: none;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    outline:0;
    transition: 0.2s;
    transform: translateY(-5px);
}
filters select option{
    background: #111;
} */
filters .sorts{
    position: relative;
    display: inline-block;
    background: #222;
    padding: 12px;
    border-radius: 8px;
    width: 190px;
}
filters .sorts span{
    float: left;
    margin: -3px;
}
filters .sorts a{
    color: #eee;
    margin-left: 6px;
}
filters .sorts i{
    cursor: pointer;
    float: right;
    margin: -9px;
    padding: 6px;
    border-radius: 8px;
    transition: .3s;
}
filters .sorts div{
    position: absolute;
    background: #222;
    width: 150px;
    left: 0;
    padding: 6px;
    border-radius: 0 0 8px 8px;
    display: none;
}
filters .sorts p{
    cursor: pointer;
    background: #111;
    border: 1px solid #111;
    margin-top: 6px;
    padding: 6px;
    border-radius: 8px;
    transition: .3s;
}
filters .sorts p:hover, filters .sorts p:focus-visible{
    border: 1px solid #bbb;
}
filters .sorts p:active{
    background: #bbb;
    color: #111;
}

filters .sorts:hover i, filters .sorts:focus-within i{
    background: #111;
}
filters .sorts:hover div, filters .sorts:focus-within div{
    display: block;
    animation: fadeIn 300ms ease-in-out forwards
}
@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    50% {
        transform: rotateX(-10deg);
    }
    100% {
        opacity: 1;
        transform: initial;
    }
}

filters .o:focus-visible{
    outline: 2px solid #fff;
    border-radius: 4px;
}
filters .o{
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
    float: right;
}
filters .oselected{
    color: #a78de4
}
filters .op{
    user-select: none;
}