.mdui button{
    border-radius: 8px;
    padding: 12px 20px;
    background: #222;
    color: #eee;
    transition: .1s;
}
.mdui button:hover{
    background: #333;
}
.mdui button:active{
    background: #eee;
    color: #222;
}