.mobilebutton{
    color: #ddd;
    padding: 12px;
    border-radius: 12px;
    background: #2f2f2f;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    border: 1px solid #2f2f2f;
    transition: 0.2s;
    /* box-shadow: 1px 2px 3px #bbbbbb22; */
}
.mobilebuttonactive{
    border: 1px solid #bbb;
    /* margin-right: -1px  Use this only if you 
    dont have a border beforehand*/
}

.mobilebutton p{
    font-size: 18px;
    margin: -10px 0;
    transform: translateY(2px);
}

.mobilemenu{
    z-index: 3;
    position: absolute;
    top: 58px;
    padding-top: 0;
    right: 0;
    /* width: calc(100% - 20px); */
    width: 100%;
    max-width: 500px;

    visibility: hidden;
    height: 0px;
    overflow: hidden;

    background: #1a1a1a;
    box-shadow: 0 2px 2px #111;

    border-radius: 0 0 12px 12px;

    transition: .4s;
}
.mobilemenu::-webkit-scrollbar-thumb{
    border-radius: 8px;
}
.mobilemenuactive{
    visibility: visible;
    height: calc(90% - 40px);
    padding-top: 12px;
}

.mobilemenuoverflow{
    overflow-y: auto;
    overflow-x: hidden;
}

.mobilemenu vs{
    cursor: pointer;
    user-select: none;
    color: #ddd;
    display: inline-block;
    background: #2f2f2f;
    box-shadow: 0 2px 0 #555;
    padding: 12px;
    margin-left: 12px;
    border-radius: 99px;
    transition: .2s;
}

.mobilemenu vs:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 0 #555;
}

.mobilemenu vs:active{
    transition: .1s;
    transform: translateY(2px);
    box-shadow: 0 0 0 #555;
}

.mobilemenu vs:focus-visible{
    outline: 1px solid #fff;
}

.mobilemenu vs:first-child{
    margin-left: 0;
}

.mobilemenu vs:last-child:hover{
    transform: rotate(60deg);
    box-shadow: 1.8px .9px 0 #555;
}
.mobilemenu vs:last-child:active{
    transition: .1s;
    transform: translateY(2px);
    box-shadow: 0 0 0 #555;
}


.mobilemenu actionmenu{
    display: block;
    margin: 20px;
}
.mobilemenu h1{
    color: #bbb;
    text-align: center;
    font-size: 28px;
}
.mobilemenu currentnote{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    color: #bbb;
    background: #222;
    border-radius: 12px;
    height: 56px;
    padding-left: 56px;
}
.mobilemenu currentnote i{
    font-size: 36px;
    position: absolute;
    left: 10px;
    user-select: none;
}
.mobilemenu currentnote input{
    width: 120px;
    color: #fff;
}
.mobilemenu currentnote input, .mobilemenu notesize, .mobilemenu notespace, .mobilemenu workspace{
    display: inline-block;
    background: #111;
    padding: 8.5px;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 5px;
}
.mobilemenu currentnote:last-child{
    margin-right: initial;
}

@media screen and (max-width: 460px) {
    .mobilemenu currentnote{
        flex-flow: row wrap;
        height: initial;
        padding-bottom: 5px;
    }
    .mobilemenu currentnote input, .mobilemenu notesize, .mobilemenu notespace, .mobilemenu workspace{
        margin-bottom: 5px;
    }
}

.mobilemenu mv{
    font-size: 18px;
    padding: 14px 8px;
    color: #fff;
    display: inline-block;
    background: #2f2f2f;
    width: 50%;
    margin: 12px;
    border-radius: 12px;
}

.mobilemenu helper{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);

    color: #999;
    font-weight: 500;
    opacity: 0.5;
}

.mobilemenu account{
    position: relative;
    display: block;
    margin: 20px;
    width: calc(100% - 40px);
    height: 144px;
    border-radius: 12px;
}
.mobilemenu account name{
    position: absolute;
    left: 144px;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    color: rgb(88, 60, 60);
    mix-blend-mode: difference;
    font-size: 24px;
    font-weight: 500;
}
.mobilemenu account bio{
    position: absolute;
    left: 144px;
    top: 76px;
    color: rgb(83, 43, 43);
    mix-blend-mode: difference;
    font-size: 18px;
}
.mobilemenu account img:first-child{
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    margin: 15px;
}
.mobilemenu account img:last-child{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.mobilemenu h2{
    color: #bbb;
    display: inline-block;
}
.mobilemenu clearn{
    user-select: none;
    cursor: pointer;
    color: #bbb;
    float: right;
    background: #222;
    padding: 5px 8px;
    border-radius: 8px;
    transition: .2s;
}
.mobilemenu clearn:hover, .mobilemenu clearn:focus-visible{
    color: #eee;
}
notificationspace{
    pointer-events: none;
    width: 500px;
    position: fixed;
    z-index: 28;
    top: 60px;
    right: 0;
}
notificationspace notification{
    position: relative;
    right: 0;
}
notification{
    cursor: pointer;
    position: relative;
    pointer-events: initial;
    display: block;
    background: #2c2c2c;
    color: #eee;
    box-shadow: 1px 1px 2px #111;
    padding: 12px;
    border-radius: 12px;
    margin: 20px;
    width: calc(100% - 40px);

    opacity: 0;
    transform: translateX(20px);
    transition: .3s;
}
.notificationwarn{
    box-shadow: 1px 1px 2px #be2d2d;
}
.notificationsucc{
    box-shadow: 1px 1px 2px #3ecc39;
}
notification notcontent{
    width: 436px;
    display: block;
}
notification x{
    font-size: 16px!important;
    top: 4px;
    right: 4px;
    opacity: 0;
}
notification:hover, notification:focus-within{
    margin: 10px;
    padding: 30px 22px;
    width: calc(100% - 20px);
    box-shadow: 0 0 3px #111;
}
.notificationwarn:hover, .notificationwarn:focus-within{
    box-shadow: 0 0 2px 2px #be2d2d;
}
notification:hover x, notification:focus-within x{
    opacity: 1;
}
notification i{
    font-size: 16px!important;
}
notification date{
    float: right;
}
notification ti{
    display: block;
    font-weight: 500;
    color: #d4d4d4;
}
notification desc{
    color: #fff;
}

.notificationshown{
    opacity: initial;
    transform: initial;
}

.notificationmove{
    opacity: 0;
    transform: translateY(-20px);
}