.newfile{
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .4s, opacity .2s;

    width: 100%;
    max-width: 350px;

    user-select: none;
    color: #fff;
    box-shadow: 1px 2px 3px #111;
    background: #222;
    padding: 20px;
    border-radius: 12px;
}
.newfiletransitioned{
    opacity: 1;
    top: 50%;
}
.newfiletransitionout{
    opacity: 0;
    top: 55%;
}
.newfile ti{
    color: #f8f8f8;
    font-size: 18px;
    margin: 4px 0;
    display: block;
    text-align: center;
}
.newfile co{
    color: #bbb;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    display: block;
    text-align: center;
}
.newfile p{
    color: #bbb;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0 5px 0;
}
.newfile input{
    width: 100%;
    display: block;
    font-size: 20px;
    border-bottom: 1px solid #555;
    border-radius: 4px;
    box-shadow: -1px 2px 2px #111;
    padding: 6px;
}
.newfile buttons{
    display: flex;
    justify-content: space-between;
    
}
.newfile button{
    color: #ddd;
    background: #353535;
    border: 1px solid #393939;
    border-radius: 8px;
    margin-right: 8px;
    padding: 12px;
    transition: .2s;
}
.newfile buttons button:hover, 
.newfile buttons button:focus-visible{
    color: #fff;
    background: #35353555;
}
.newfile buttons button:active{
    color: #111;
    background: #de99f3;
}
.newfile .buttonSelected{
    border: 1px solid #de99f3;
    color: #fff;
    background: #222;
}
.newfile buttons button:last-child{
    margin-right: initial;
}
.newfile button i{
    float: left;
    margin-right: 6px;
    transform: translateY(-3px);
}

.newfile .completebtn{
    margin-top: 20px;
    width: 100%;
    display: block;
    background: initial;
    color: #888;
}
.newfile .completebtnerror{
    transition: .4s;
    background: #e46161;
    color: #000;
}
.newfile .completebtnallowed{
    background: #de99f3;
    color: #000;
}
.newfile .completebtnallowed:hover, .newfile .completebtnallowed:focus-visible{
    outline: 1px solid #de99f3;
}
.newfile .completebtnallowed:active{
    background: #111;
    color: #de99f3;
}

@media screen and (max-width:350px) {
    .newfile{
        padding: 10px;
    }

    .newfile buttons{
        display: block;
    }
    .newfile button{
        margin-bottom: 8px;
    }
}

.savechanges x{
    top: 10px;
    right: 10px;
}
.savechanges ti{
    margin-top: 30px;
}
.savechanges button:hover, .savechanges button:focus-visible{
    border: 1px solid #bbb;
}
.savechanges button:active{
    background: #bbb;
    color: #111;
}