sidepanel {
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    position: fixed;
    z-index: 4;
    height: 100%;
    top: 0;
    left: -1px;
    color: #fff;
    background: #1a1a1a;
    border-right: solid 1px #111;
    padding-top: 60px;
    transition: 0.5s;

    background: rgba( 16, 16, 16, 0.6 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
}
sidepanel::-webkit-scrollbar-thumb {
    border-radius: 8px;
}
sidepanel::-webkit-scrollbar {
    width: 10px
}
sidepanel::-webkit-scrollbar-track {
    background: initial;
}
sidepanel .x{
    fill: #bbb
}
sidepanel .x:hover{
    border-radius: 45%;
    fill: #fff
}
.sidepanelactive{
    padding: 12px;
    padding-top: 60px;
    padding-right: 4px;
    width: 300px;
    max-width: 300px;
    border-right: solid 1px #eeeeee33
}
.sidepanelmoreactive{
    padding: 24px;
    width: 100%;
    max-width: 1100px;
    transition: .3s;
}
.sidepanelmoreactive info{
    opacity: 0
}
.sidepanelmoreactive filesside{
    display: block;
    opacity: 0;
    white-space: normal;
}
.sidepanelmostactive filesside{
    opacity: 1
}
.sidepanelmostactive info{
    display: none
}
@media screen and (max-width:300px){
    .sidepanelactive{
        width: 100%
    }
    sidepanel content h1{
        font-size: 18px
    }
    sidepanel content input{
        font-size: 16px
    }
}