{
    "mongodb.hostname": "mongodb://127.0.0.1:27017",
    "mongodb.database": "writenote",
    "mongodb.collection": "notes",
    "mongodb.chatCollection": "chat",

    "mysql.hostname": "127.0.0.1",
    "mysql.username": "Your MySQL Username",
    "mysql.password": "Your MySQL Password",
    "mysql.database.midelight": "Midelight",
    "mysql.database.writenote": "WriteNote"
}