body {
    background: #111;
    padding: 50px;
    overflow: hidden;
    color: #fff;
}
body * {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


body{
    background: linear-gradient(#65baff, #9b85ff);
}
body .protector{
    z-index: 5;
    position: absolute;
    width: 90%;
    height: 90%;
    background: #111;
}
body h2{
    z-index: 10;
    position: absolute;
    font-size: 40px;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}