#notearea {
    color: #000;
    background-color: #e8e8f8
}

::-webkit-scrollbar-thumb {
    background-color: #ccc
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999
}

::-webkit-scrollbar-thumb:active {
    background-color: #888
}
::-webkit-scrollbar-corner {
    background: #e8e8f8
}

::selection {
    background-color: #4b23ff55
}

#modal {
    background: #000;
    background: #00000066
}

#welcome {
    box-shadow: 0 0 24px #000;
    color: #fff;
    background: #100f11
}

.mainWelcomeLogo {
    color: #fff
}

.mainWelcomeLogo a {
    color: #fff
}

.mainWelcomeLogo a:hover {
    color: #c8c8c8
}

.mainWelcomeLogo:hover {
    color: #c8c8c8
}

.x:hover {
    background: #55555533
}

.x:active {
    background: #55555555
}

.unsignedbtn svg {
    stroke: #a78de4
}

.unsignedbtn button, #welcome button {
    color: #c8c8c8;
    border: 1px solid #c8c8c8
}

.unsignedbtn button:hover, #welcome button:hover {
    color: #000;
    background-color: #c8c8c8
}

.unsignedbtn .blue, #create .blue {
    border: 1px solid #a78de4;
    color: #a78de4
}

.unsignedbtn .blue:hover, #create .blue {
    color: #000;
    background-color: #a78de4
}

.unsignedbtn .blue:hover svg {
    stroke: #000
}

.mainWelcomeBlueUnsignedReg {
    color: #8d96e4;
}

#create p, #open p {
    color: #ccc
}

#create input, #create select, #files input, #settingsbrowser .settings input {
    color: #fff;
    background: none;
    border: 1px solid #222;
    border-bottom: 1px solid #bbb;
}

#create select option {
    background: #111
}

#create select option:checked {
    background: #a78de4
}

#create input:focus, #files input:focus, #settingsbrowser .settings input:focus {
    border-bottom: 1px solid #a78de4
}

#create hr {
    border: 0;
    border-top: 1px solid #bbb
}

#welcome button {
    color: #c8c8c8;
    border: 1px solid #c8c8c8;
}

#create .types div {
    border: 1px solid #bbb;
}

#create .types div:hover {
    border: 1px solid #a78de4
}

#options a {
    color: #222;
    border: 1px solid #444;
}

#options a:hover {
    background: #eee;
    color: #111
}

#options a:active {
    box-shadow: 0 0 8px #fff
}

#files div {
    border: 1px solid #bbb;
}

#files div:hover {
    border: 1px solid #a78de4
}

#files div type {
    color: #ccc
}

#files div p {
    color: #ddd;
}

#files filters select {
    color: #bbb;
}

#files filters select option {
    background: #111
}

.more:hover {
    background: #55555533;
}

.more:active {
    background: #55555555;
}

#notepreview {
    color: #222;
    background: #111;
    border: 1px solid #333;
    box-shadow: 0 0 12px 4px #0b0b0b;
}

#notepreview input {
    color: #fff;
    border-bottom: 1px solid #bbb;
}

#notepreview input:focus {
    border-bottom: 1px solid #a78de4
}

#notepreview hr {
    border-top: 1px solid #eee
}

#notepreview a {
    color: #222
}

#notepreview a:hover {
    background: #55555555
}

#notepreview a:active {
    background: #55555599
}

header {
    background-color: #fefefe;
    border-bottom: 1px solid #bbb;
}

header a {
    color: #666;
    border: 1px solid #fefefe;
}

header a:hover, #profilepanelbtn:hover, #notificationsbtn:hover {
    stroke: #000;
    color: #000;
    fill: #000;
    background-color: #fff
}

#profilepanelbtn, #notificationsbtn {
    stroke: #666;
    fill: #666;
}

header #navBtn svg {
    fill: #969696
}

header #navBtn svg:hover {
    fill: #000
}

.dropdown hr {
    border-top: 1px solid #ccc
}

.dropdown div {
    border: solid 1px #ccc;
    background-color: #fefefe;
    box-shadow: 4px 8px 12px 0 #00000033
}


.dropdown v {
    color: #000;
}

.dropdown v:hover {
    background-color: #222;
    color: #fff;
}

tick {
    border-bottom: 4px solid #913fb1;
    border-right: 4px solid #913fb1
}

.sidepanel {
    background: #fefefe;
    border-right: solid 1px #fff;
    background: #fefefe99;
}

.sidepanel a {
    color: #555;
}

.sidepanel a:hover {
    color: #111
}

.sidepanel input {
    border-bottom: 1px solid #777;
    color: #777
}

.sidepanel input:focus {
    color: #000;
    border-bottom: 1px solid #000
}

.sidepanel p {
    color: #a00000
}

.unsignedAnnotation {
    color: #dbdbdb;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
}

.unsignedAnnotation button {
    color: #fff;
    border: 1px solid #fff
}

.unsignedAnnotation button:hover {
    color: #000;
    background-color: #fff
}

.prograssdiv {
    color: #dbdbdb
}

.progress {
    background-color: #101010;
    width: 300px
}

.progress-bar {
    border: 3px solid #4a20bd;
    border-image: linear-gradient(to right, #4a20bd, #a320bd) 1
}

.logo {
    color: #fff;
}

.logo:hover {
    color: #c8c8c8
}

.logo:active {
    color: #888
}

#weather {
    color: #dbdbdb;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

#wordCountdiv {
    background: #fefefe;
    border-top: 1px solid #4a20bd;
    color: #fff;
}

#siteexplorer {
    background: #fefefe;
    border-right: 1px solid #555;
}

#siteexplorer input, #calculatormain textarea {
    color: #bbb;
    border: 1px solid #555;
}

#siteexplorer input:focus, #calculatormain textarea:focus {
    border-bottom: 1px solid #a78de4
}

#siteexplorer a {
    color: #222
}

#sitepreview {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    background: #000;
}

#sitedetails {
    border-left: 1px solid #555;
    background: #fefefe;
}

#sitecode {
    background: #111115;
    color: #bbb
}

#calculatorquick, #calculatorfinal {
    color: #000;
    background: #a78de4;
}

#calculatorquick p, #calculatorfinal p {
    color: #222
}

#calculatestory div {
    border: 1px solid #a78de4;
}

#calculatestory re {
    color: #000;
    background: #a78de4;
}

.calculator {
    border: 1px solid #555;
}

.calculator button {
    border: 1px solid #333
}

.calculator button:hover {
    border: 1px solid #555
}

.calculator button:active {
    background: #555;
    color: #000
}

#todoaddspace textarea {
    background: #111;
    border: 1px solid #555;
    color: #222;
}

#todoaddspace textarea:focus {
    border: 1px solid #a78de4
}

#todos div {
    border: 1px solid #555;
}

#todos div co:focus {
    border: 1px solid #a78de4
}

todotick {
    border-bottom: 4px solid #a78de4;
    border-right: 4px solid #a78de4
}

#profilepanel, #notifications {
    color: #222;
    background: #fefefe;
    border: 1px solid #333;
    box-shadow: 0 5px 4px #0b0b0b
}

#profilepanel hr, #notifications hr {
    border-top: 1px solid #666
}

#profilepanel a, #notifications a {
    color: #222
}

#profilepanel a:hover, #notifications a:hover {
    background: #55555555
}

#profilepanel a:active, #notifications a:active {
    background: #55555599
}

#notifications div, #shownnotifications div {
    border: 1px solid #252525;
    background: #252525;
}

#shownnotifications {
    color: #222;
}

#shownnotifications div {
    border: 1px solid #555;
}

#shownnotifications hr {
    border-top: 1px solid #555;
}

#settingsbrowser {
    color: #000;
    background: #ffffffbb;
    /* backdrop-filter: blur(8px); 
    don't use cause it blurry*/
}

#settingsbrowser .account {
    background: #ffffffcc;
    border: 1px solid #ccc;
}

#settingsbrowser .settings a:hover {
    background: #55555533
}

#settingsbrowser .settings a:active {
    background: #55555577
}

#selectedsettings .profile {
    background: #ffffffcc;
}

#selectedsettings .optionsubsection {
    background: #ffffffcc;
    border: 1px solid #bbb
}

#selectedsettings .optionsubsection co {
    color: #333
}

#selectedsettings .optionsubsection:hover {
    border: 1px solid #888;
    transform: translateY(-4px);
    box-shadow: 0 4px 2px #bbb;
}

#selectedsettings .optionsubsection:active {
    border: 1px solid #888;
    background: initial;
    transform: none;
    box-shadow: 0 1px 4px #bbb;
    transition: initial;
}

#selectedsettings h1 a:hover {
    color: #ddd
}

#selectedsettings theme {
    background: #ffffffbb;
    border: 1px solid #bbb;
}

#selectedsettings theme:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 2px #bbbbbbbb;
    border: 1px solid #888
}

#selectedsettings theme:active {
    border: 1px solid #666;
    background: initial;
    transform: none;
    box-shadow: 0 1px 4px #bbb;
    transition: initial;
}

#login {
    color: #fff;
    background: #2d2c30;
    box-shadow: 0 0 24px #111;
}

#login input {
    color: #fff;
    background: #1c1c1c;
    border: 1px solid #050505;
}

#login input:hover {
    border: 1px solid #555
}

#login input:focus {
    border: 1px solid #a78de4
}

#login label {
    color: #bbb;
}

#login label er {
    color: #c54848;
}

#login a {
    color: #65baff;
}

#login a:active {
    color: #2c85eb
}

#login button {
    background: #1c1c1c;
    border: 1px solid #1c1c1c;
}

#login button:hover, #login button:focus-visible, #login button:active {
    border: 1px solid #a78de4 !important
}

#login button:active {
    background: #a78de4 !important
}

#lines {
    background: #e0e0f0;
    color: #999;
}