.window.createNote{
    max-width: 600px;
    height: initial;
    box-shadow: 1px 1px 3px 2px var(--window-shadow);
    /* border: 1px solid #1c1c1c; */
    padding: 16px;

    user-select: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.window.createNote.golden{
    background-color: var(--window-golden-bg);
    color: var(--window-golden-fg);
}
.window.createNote .header{
    font-size: 20px;
    text-align: center;
}

/* .window.createNote label{
    flex: 1;
} */
.window.createNote .text{
    padding-bottom: 12px;
    /* text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #999; */
}
/* .window.createNote label input{
    width: 100%;
} */


.window.createNote .typeContainer{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.window.createNote .typeContainer .type{
    cursor: pointer;

    background-color: var(--button-bg);
    padding: 12px;
    border-radius: 8px;

    border: 1px solid var(--button-bg);

    transition: .3s;
}
.window.createNote .typeContainer .type .title,
.window.createNote .typeContainer .type i{
    color: var(--button-fg);
    /* font-size: 18px; */
    transition: .2s;
}
.window.createNote .typeContainer .type .description{
    color: var(--input-text-hide-color);
    font-size: 16px;
}
.window.createNote .typeContainer .type:hover,
.window.createNote .typeContainer .type:focus-visible{
    background-color: var(--button-hover-bg);
    border: 1px solid var(--button-hover-border);
}
.window.createNote .typeContainer .type:hover .title,
.window.createNote .typeContainer .type:hover i,
.window.createNote .typeContainer .type:focus-visible .title,
.window.createNote .typeContainer .type:focus-visible i{
    color: var(--button-text-active);
}

.window.createNote .typeContainer .type.active{
    background-color: #65baff;
}
.window.createNote .typeContainer .type.active .title,
.window.createNote .typeContainer .type.active i{
    color: #111;
}
.window.createNote .typeContainer .type.active .description{
    color: #2c2c2c;
}

.window.createNote .submit{
    text-align: center;
    align-self: center;
    min-width: 100px;
    max-width: 300px;
}