:root{
    --main-bg: #050505;
    --main-logo-bg: #0a0a0a;

    --window-bg: #111;
    --window-fg: #eee;

    --window-shadow: #00000044;

    --window-x-color: #999;
    --window-x-hover-color: #e4e4e4;
    --window-x-hover-bg: #33333399;
    --window-x-active-color: #f3f3f3;
    --window-x-active-bg: #66666699;

    --window-golden-bg: #ffbf00;
    --window-golden-fg: #574100;

    /* Buttons */
    --button-bg: #222;
    --button-fg: #bbb;

    --button-hover-border: #333;
    --button-hover-fg: #eee;
    --button-hover-bg: #232323;

    --button-active-fg: #111;

    /* Inputs */
    --input-border: #555;
    --input-bg: #141414;
    
    --input-hover-border: #777;
    --input-focus-border: #888;
    
    --input-text-color: #999;
    --input-text-hide-color: #555;
    --input-text-hide-bg: #111;

    /* Tooltips */
    --tooltip-color: #bbb;
    --tooltip-bg: #11111199;
    --tooltip-border: #555;

    /* Color codes */
    --error-color: #f35959;
    --blue: #65baff;
    --accept-color: #65ff7f;

    --main-color-text: #111;
    /* --coolr: #00ff7f; */

    /* Chat colors */
    --chat-main-bg: #141417;
    --chat-button-active-bg: #bbb;
    --chat-button-active-color: #222;

    --chat-main-hrtext: #28282d;

    --chat-friendRequest-bg: #33333c;
    --chat-friendRequest-btn: #3c3c4c;
    --chat-decline-fade: #f3595966;
    --chat-accept-fade: #65ff7f66;
    --chat-color-fade: #eee;
    --chat-color-active: #111;
    --chat-friendAdd-text-color: #bbb;

    --conversation-chatheader-bg: #0e0f14;
    --conversation-chatheader-icon: #ddd;
    --conversation-chatheader-icon-hover: #eee;

    --conversation-message-bg: #2e2f34;
    --conversation-message-me-bg: #0a1757;

    /* Settings colors */
    --setting-bg: #1a1a1a;
    --setting-label: #bbb;
    --setting-sublabel: #666;
    --setting-bg-hover: #1f1f1f;
    --setting-border-hover: #252525;
    --setting-border-active: #2e2e2e;

    --setting-checkbox-bg: #3b3b3b;
    --setting-checkbox-border: #494949;
    --setting-checkbox-ball: #eee;

    /* WriteNote colors */
    --writenote: #222242;
    --wn-unloaded: #050505;
    
    --caret: #c4e4ff;

    /* Header */
    --line-text: #111;
    --unsaved: #fffc65;

    --header-button-hover: #222222bb;
    --header-button-focused: #eee;
    --header-button-blurred: #555;

    --header-bg: #111111bb;
    --header-bg-blurred: #111111;

    /* Notes list */
    --note-title-color: #eee;
    --note-summary-color: #999;
    --note-sortData-bg: #171717;
    --note-sortData-color: #666;

    --note-active-title-color: #333;
    --note-active-summary-color: #666;
    --note-active-sortData-bg: #666;
    --note-active-sortData-color: #222;

    /* Canvas */
    /* --writenote-canvas-bg: #444; */

    /* Device list */
    --you-device: #272147;
    --online-device: #21d03e;
    --offline-device: #ad1f1f;

    /* FileShare */
    --profile-bg: #1d1d1d;
    --profile-bg-hover: #252525;
    --profile-bg-active: #3d3d3d;

    /* Themes */
    --theme-bg: #222;
    --theme-bg-hover: #333;
    --theme-bg-active: #444;
}