.mselect{
    position: relative;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    color: #eee;
    background: #222;
    border: 1px solid #333;
    padding: 8px;
    border-radius: 8px;
    padding-right: 28px;
    transition: .1s;
}
.mselect:hover, .mselect:focus-visible{
    border: 1px solid #555;
}
.mselect:active{
    background: #555;
}
.mselect i{
    position: absolute;
    top: 5px;
}