::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background-color: initial
}

::-webkit-scrollbar-thumb {
    cursor: grab;
    border-radius: 8px;
    background-color: #444
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b4b4b
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
    background-color: #5a5a5a
}

::-webkit-scrollbar-corner { background: #1a1a1a; }