*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body, app{
    display: block;
    width: 100%;
    height: 100%;
}
app{
    background-color: var(--main-bg);
}

html:has(body.app-round){
    overflow: hidden;
}
body.app-round{
    border-radius: 12px;
    overflow: hidden;
}

/* html, body {
    cursor: url("../assets/cursors/cursor.png"), default;
} */


/* app{
    background-image: url("../assets/images/untitled5-16.png");
    background-position: center;
    background-size: cover;
} */

/* app{
    background: rgb(198,100,227);
    background: linear-gradient(220deg, rgba(198,100,227,0.18888888888888888) 0%, rgb(0, 4, 17) 100%);
} */


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Material-Icons-Outlined.woff2") format('woff2');
}

.m-i, x, .x, i:not(notearea i){font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

input{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
}

.mdblock {
    width: 90%;
    /* padding-right: 15px;
	padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .mdblock {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .mdblock {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .mdblock {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .mdblock {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .mdblock {
        max-width: 1340px;
    }
}