.uploadform {
	display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 70%;

    color: #fff;
    background: rgba( 0, 0, 0, 0.6 );
    /* backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px ); */
    border: 1px solid #ccc;
    border-radius: 12px;
}
.uploadform .choices {
	box-sizing: border-box;
	height: 42px;
	width: 100%;
	border-radius: 12px 12px 0 0;
	background-color: #131112;
	padding: 0px 4%;
	border-bottom: 2px solid #444;
}
.uploadform .choices a{
	user-select: none;
	cursor: pointer;
	color: #ccc;
	position: relative;
	top: 11px;
	padding: 8px 10px;
	margin-right: 25px;
	border-bottom: 2px solid #ccc;
	transition: 0.2s;
}
.uploadform .choices a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
	background-color: #302c2e;
}
.uploadform .choices a:active {
	background-color: #3a3436;
}
.openselected {
color: rgb(39, 102, 238)!important;
border-bottom: 2px solid rgb(39, 102, 238)!important;
}
.uploadform .choices x{top: 5px;right: 10px}

#opensection{
	height: 70%;
}

.uploadform .browse{
	overflow: auto;
	margin-top: 0;
	width: 92%;
	margin-left: 4%;
	height: 100%;
}
.uploadform h2 {
	padding: 15px;
	text-align: center;
    margin:0;
	margin-top: 2vh;
}
.uploadform p{
    color: #c8c8c8;
	background: #1f1c1d;
	margin: 0;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.uploadform input{
	display: none;
}
.uploadformInput{
    cursor: pointer;
    display: inline-block;
	color: #c8c8c8;
    border: 1px solid #c8c8c8;
    padding: 6px 12px;
	margin: 22px;
	margin-left: 4%;
	margin-right: 8px;
	transition: 0.2s;
}
.uploadformInput:hover{color: #fff;border: 1px solid #fff;}
.uploadformInput:active{background: #3a3436}
#dropContainer{
	color: #c8c8c8;
	border: 2px dashed white;
	width: 92%;
	margin-top: 2vh;
	margin-left: 4%;
	padding: 15vh 0;
	text-align: center;
	font-weight: 500;
}

@media only screen and (max-width: 526px){
	.uploadform {
		box-shadow: none;
		border-radius: 0;
		width: calc(100% - 2px);
		margin: -163px 0 0 -50%;
	  }
	#dropContainer{
		width:99%;
		margin-left:0;
	}
	.uploadform .choices {
		width: calc(100% - 44px);
	}
}