notearea{
    display: block;
    position: relative;
    overflow: auto;
    overflow-y: scroll;
    border: 0;
    border-radius: 0;
    cursor: auto;
    resize: none;
    outline: none;
    color: #fff;
    background-color: #222242;
    padding: 8px 4px;
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding-bottom: calc(100vh - 95px);
    transition: 0.2s;
}
writenote{
    display: block;
    height: 100%;
    transition: 0.2s;
    /* background-color: #111124; */
    background-color: #0c0c0c;
}
writenote.flex{
    display: flex;
}
writenote features{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 300px;
    transition: .4s;
    /* z-index: 1;
    box-shadow: -1px 0 2px #111; */
}
writenote features.transition{
    opacity: 0;
    min-width: 0px;
}
notearea.borderRadiusRight{
    border-radius: 0 12px 12px 0;
}

app .linkPreview{
    position: absolute;
    max-width: 400px;
    border-radius: 16px;
    /* box-shadow: 2px 2px 2px #0e0e0e;
    border: 2px solid #555;
    outline: 4px solid #111; */
    background: #1c1c1c;
    box-shadow: 2px 2px 4px #111;
    color: #eee;
    padding: 12px;
    top: 200px;
    left: 20px;
    transition: .4s;
}
app .linkPreview.transition{
    opacity: 0;
    transform: translateY(-8px);
}
app .linkPreview.opacity{
    opacity: 0;
}
app .linkPreview .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}
app .linkPreview .header p{
    display: inline-block;
    color: #999;
    margin-right: 12px;
}
app .linkPreview .header div{
    display: flex;
}
app .linkPreview .header i:first-child{
    margin-right: 8px;
}
app .linkPreview .header i{
    user-select: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: .1s;
}
app .linkPreview .header i:hover, app .linkPreview .header i:focus-visible{
    background: #333;
}
app .linkPreview .header i:active{
    background: #eee;
    color: #111;
}
app .linkPreview .metadata{
    display: flex;
    align-items: center;
}
app .linkPreview .metadata p{
    color: #bbb;
}
app .linkPreview div{
    padding: 8px;
}
app .linkPreview .buttons{
    display: flex;
}
app .linkPreview .buttons button{
    flex: 1;
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    background: #333;
    transition: .2s;
}
app .linkPreview .buttons button:focus-visible {
    outline: 1px solid #999;
}
app .linkPreview .buttons button:hover, app .linkPreview .buttons button:focus-visible{
    filter: brightness(125%);
}
app .linkPreview .buttons button:active {
    transition: .1s;
    filter: brightness(65%);
}
app .sitepreview{
    position: absolute;
    background: #1c1c1c;
    border-radius: 16px;
    margin: 8px;
    transition: .4s;
    width: 300px;
    height: 200px;
}
app .sitepreview.relative{
    position: relative;
    width: 100%;
}

notearea i:hover{/*experiment*/
    background-color: #65baff22;
}
notearea p:focus{
    outline: 1px solid #999
}
notearea b:hover{
    background-color: #65baff22;
}
/* notearea p:last-child{   //Tried something like this. But it's weird..
    padding-bottom: 100%;
} */
notearea fmark{
    background-color: #df85ffcc;
}
notearea fmark::selection{
    background-color: #65baffcc;
}
notearea::-webkit-scrollbar-corner { background: #222242 }
notearea p{
    margin: 0;
}
notearea img{
    border-radius: 4px;
}
notearea a{
    color: #65baff
}
notearea w{
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    margin: -2px
}
notearea cal{
    color: #000;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 4px;
}
notearea cal::before{
    content: "<de>Date</de>";
}
.wordwrap *{
    white-space: nowrap
}
.notearealeft{
    top:0!important;left:60px;width:calc(100% - 60px)!important;height:100%!important
}
.notearearight{
    top:0!important;left:0;width:calc(100% - 60px)!important;height:100%!important
}
.noteareabottom{
    top:0!important;left:0;width:100%!important;height:calc(100% - 60px)!important
}

dropeffect{
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #22222288;
}
.dropeffectvisible{
    visibility: visible;
}