notearea{
    z-index: 5;
    /* white-space: pre-wrap; */
    display: block;
    position: relative;
    overflow: auto;
    overflow-y: scroll;
    border: 0;
    border-radius: 0;
    cursor: auto;
    resize: none;
    outline: none;
    color: #fff;
    padding: 8px 4px;
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding-bottom: calc(100vh - 95px);
    transition: 0.2s;
}
writenote{
    display: block;
    height: 100%;
    transition: 0.2s;
    /* background-color: #111124; */
    /* background-color: #0c0c0c; */
    background-color: #222242;
}
writenote.flex{
    display: flex;
}
writenote features{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 300px;
    transition: .4s;
    /* z-index: 1;
    box-shadow: -1px 0 2px #111; */
}
writenote features.transition{
    opacity: 0;
    min-width: 0px;
}
notearea.borderRadiusRight{
    border-radius: 0 12px 12px 0;
}

app .linkPreview{
    position: absolute;
    max-width: 400px;
    border-radius: 16px;
    /* box-shadow: 2px 2px 2px #0e0e0e;
    border: 2px solid #555;
    outline: 4px solid #111; */
    background: #1c1c1c;
    box-shadow: 2px 2px 4px #111;
    color: #eee;
    padding: 12px;
    top: 200px;
    left: 20px;
    transition: .4s;
}
app .linkPreview.transition{
    opacity: 0;
    transform: translateY(-8px);
}
app .linkPreview.opacity{
    opacity: 0;
}
app .linkPreview .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}
app .linkPreview .header p{
    display: inline-block;
    color: #999;
    margin-right: 12px;
}
app .linkPreview .header div{
    display: flex;
}
app .linkPreview .header i:first-child{
    margin-right: 8px;
}
app .linkPreview .header i{
    user-select: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: .1s;
}
app .linkPreview .header i:hover, app .linkPreview .header i:focus-visible{
    background: #333;
}
app .linkPreview .header i:active{
    background: #eee;
    color: #111;
}
app .linkPreview .metadata{
    display: flex;
    align-items: center;
}
app .linkPreview .metadata p{
    color: #bbb;
}
app .linkPreview div{
    padding: 8px;
}
app .linkPreview .buttons{
    display: flex;
}
app .linkPreview .buttons button{
    flex: 1;
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    background: #333;
    transition: .2s;
}
app .linkPreview .buttons button:focus-visible {
    outline: 1px solid #999;
}
app .linkPreview .buttons button:hover, app .linkPreview .buttons button:focus-visible{
    filter: brightness(125%);
}
app .linkPreview .buttons button:active {
    transition: .1s;
    filter: brightness(65%);
}
app .sitepreview{
    position: absolute;
    background: #1c1c1c;
    border-radius: 16px;
    margin: 8px;
    transition: .4s;
    width: 300px;
    height: 200px;
}
app .sitepreview.relative{
    position: relative;
    width: 100%;
}

notearea i:hover{/*experiment*/
    background-color: #65baff22;
}
notearea p:focus{
    outline: 1px solid #999
}
notearea b:hover{
    background-color: #65baff22;
}
/* notearea p:last-child{   //Tried something like this. But it's weird..
    padding-bottom: 100%;
} */
notearea fmark{
    background-color: #df85ffcc;
}
notearea fmark::selection{
    background-color: #65baffcc;
}
notearea::-webkit-scrollbar-corner { background: #222242 }
notearea p{
    margin: 0;
}
notearea img{
    border-radius: 4px;
}
notearea a{
    color: #65baff
}
notearea w{
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    margin: -2px
}
notearea cal{
    color: #000;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 4px;
}
notearea cal::before{
    content: "<de>Date</de>";
}
.wordwrap *{
    white-space: nowrap
}
.notearealeft{
    top:0!important;left:60px;width:calc(100% - 60px)!important;height:100%!important
}
.notearearight{
    top:0!important;left:0;width:calc(100% - 60px)!important;height:100%!important
}
.noteareabottom{
    top:0!important;left:0;width:100%!important;height:calc(100% - 60px)!important
}

dropeffect{
    z-index: 6;
    cursor: grabbing;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #22223699;
    border: 2px dashed #eeeeeeee;
}
.dropeffectvisible{
    visibility: visible;
}
dropeffect p{
    font-size: 20px;
    color: #efefefef;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

wnaudio::selection {
    background: #e984846e;
}
wnaudio{
    display: inline-block;
    position: relative;
    user-select: none;
    background: #111;
    border-radius: 8px;
    padding: 3px 5px 1px 4px;
    /* resize: horizontal; */
}
wnaudio ti{
    position: absolute;
    left: 72px;
    font-size: 12px;
}
wnaudio:hover times{
    color: #ddd;
}
wnaudio times{
    color: #bbb;
    transition: color .2s;
    position: absolute;
    right: 6px;
    font-size: 12px;
}

wnaudio i{
    cursor: pointer;
    user-select: none;
    padding: 4px;
    border-radius: 8px;
}
wnaudio i:hover{
    background: #292929;
}

wnaudio input {
    margin-left: 4px;
    cursor: pointer;
    width: 250px;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}

wnaudio input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #65baff;
    border: 2px solid #65baff;
    box-shadow: -9005px 0 0 9000px #65baff;
    transition: 0.2s;
}

wnaudio:hover input[type="range"]::-webkit-slider-thumb{
    background: #65baff55;
    border: 2px solid #fffcfccc;
}

wnfile{
    display: inline-block;
    position: relative;
    user-select: none;
    background: #111;
    border-radius: 8px;
    padding: 3px 5px 1px 4px;
    /* resize: horizontal; */
}

writenote overlay{
    pointer-events: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    position: absolute;
}

writenote overlay userselection{
    display: block;
    width: 100%;
    height: 100%;
}
::selection{
    background-color: #00000000;
}
writenote overlay us{
    display: block;
    position: absolute;
    min-width: 1px;
    /* border-radius: 4px; */
    background: #e984846e;
} 

notearea tictactoe{
    user-select: none;
    display: inline-block;
    width: 324px;
    height: 362px;
    padding: 12px;
    padding-top: 0;
    border-radius: 8px;
    background: #1c1c1c;
}
notearea tictactoe status{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
notearea tictactoe btns{
    background: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 300px;
    height: 300px;
}
notearea tictactoe sq{
    background: #1c1c1c;
    flex: 1 0 30%;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
notearea tictactoe sq:not(.marked){
    cursor: pointer;
}
notearea tictactoe sq:hover:not(.marked){
    background: #333;
}